html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #394867 ;
}

#header {
  position: absolute ;
  top : 0 ;
  height:10vw ;
  width: 85%;
  font-family: 'Times New Roman', Times, serif ;
  left: 7.5% ;
  font-size: 4vw ;
}

#article {
  position: absolute ;
  /*background-color: #301E67 ;*/
  top : 12vw;
  height: auto ;
  width: 85% ;
  font-family: 'Times New Roman', Times, serif ;
  border: 10px solid #FFFFFF ;
  left: 7.5% ;
  
}
.image{
  text-align: center ;
  outline: 1px solid #FFFFFF ;
  height: auto ;
  width: auto ;
}

.text{
  margin-left: 5px ;
  text-align: left ;
}


h1{
  font-family: 'Times New Roman', Times, serif ;
  font-size: 6vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
  text-align: center ;
}
h2{
  font-family: 'Times New Roman', Times, serif ;
  font-size: 3vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
}
h3{
  font-family: 'Times New Roman', Times, serif ;
  font-size: 2.5vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
}
p{
  font-size: 2vh ;
  font-family: 'Times New Roman', Times, serif ;
  color: #FFFFFF;
  
}
ul{
  font-family: 'Times New Roman', Times, serif ;
	
	font-size: 2vh;
	color: #FFFFFF;
}
ol{
  font-family: 'Times New Roman', Times, serif ;
	
	font-size: 2vh;
	color: #FFFFFF;
}
a{
  color: #FFFFFF ;
}
img{
  outline: 1px solid #FFFFFF ;
  border-radius: 25px ;
  background-color: #212A3E ;
  width: 50% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50% ;
  overflow: auto ;
  float: center ;
}
#author {
  text-align: right ;
  text-decoration: bold ;
}
button{
  float: left ;
}
#python {
  display: none ;
  border-radius: 0px ;
}
#java{
  display: none ;
  width: 20% ;
  height: 20% ;
  border-radius: 0px ;
}
#javascript{
  display: none ;
  width: 25% ;
  height: 25% ;
  border-radius: 0px ;
  
}

#outro {
  text-alingment: center ;
  text-decoration: bold ;
}
#home {
  text-align: center ;
  font-size: 2vh ;
}
