html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #301E67 ;
}


#header {
  position: absolute ;
  top : 0 ;
  height:10vw ;
  width: 85%;
  font: arial ;
  left: 7.5% ;
  font-size: 4vw ;
}

#article {
  position: absolute ;
  background-color: #394867 ;
  top : 12vw;
  height: auto ;
  width: 85% ;
  font-family: 'Times New Roman', Times, serif ;
  border: 5px solid #FFFFFF ;
  left: 7.5% ;
  
}
.image{
  text-align: center ;
  height: auto ;
  width: auto ;
}

.text{
  margin-left: 10px ;
  text-align: left ;
}
.code {
  font-family: 'Courier New', Courier, monospace ;
  font-size: 1.5vh ;
}


h1{
  font-size: 6vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
  text-align: center ;
}
h2{
  font-size: 3vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
}
h3{
  font-size: 2.5vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
}
h4{
  font-size: 2vh ;
  color: #FFFFFF ;
  text-decoration: underline ;
}
p{
  font-size: 2vh ;
  color: #FFFFFF;
  
}
ul{
	font-size: 2vh;
	color: #FFFFFF;
}
ol{
	font-size: 2vh;
	color: #FFFFFF;
}
a{
  color: #FFFFFF ;
}

img{
  outline: 1px solid #FFFFFF ;
  background-color: #212A3E ;
  width: 70% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto ;
  overflow: auto ;
  float: center ;
  
}

.author {
  text-align: right;
  font-size: 2vh ;
}
